<h1>fais ta liste </h1>

<%= link_to "restaurants", restaurants_path, class:"btn btn-primary" %>
<%= link_to "créer une liste", new_restaurant_list_path(@restaurant_list), class:"btn btn-primary" %>
<%= link_to "Voir mes listes", restaurant_lists_path, class:"btn btn-primary" %>