<h2>ici index des listes</h2>

<div class="restaurants-list">

  <% @restaurant_lists.each do |rl|%>

    <%= link_to restaurant_list_path(rl), class:"link" do %>
      <%= rl.name%>

    <% end %>

  <% end %>

<%= link_to "créer une liste", new_restaurant_list_path(@restaurant_list), class:"btn btn-primary" %>

</div>